
//- GENERAL
#backButton
{
    postition: absolute;
    top: 0;
    left: 0;
}


//- View 1 and 2
#searchBar
{
    input {
        height: 80px;
        font-size: 24px;
        float: left;
    }

    a {
        position: absolute;
        right: 60px;
        top: 5px;
    }

    #searchButton {
        height: 70px;
        widht: 100px;
    }
}

//- View 3
#V3
{
    .background
    {
        margin-top: 10px;
        background: rgba(26, 188, 156,1.0);
        border-radius: 5px;

        // padding-bottom: 5px;
    }

    .menu
    {
        border-right: 2px solid black;
    }

    .menu-items
    {
        width: 100%;
        // margin: 0 auto;
        text-align: center;
    }

    .running-total
    {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
    }


}

#V4
{

}
